# Python virtual environment
venv/
.venv/
env/
Lib/
Scripts/
share/
pyvenv.cfg

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment files
.env
.streamlit/secrets.toml

# Dataset
data/*.csv
data/*.xlsx
data/*.zip

# OS files
.DS_Store
Thumbs.db